<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is About Page</h1>
    <div th:replace="${isLogged} ? ~{base :: parent(~{::#logged})} : ~{base :: test(~{::#not_logged})}">
        <section id="logged">
            <h1>User logged In</h1>
            <h1>this is dynamic content</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, placeat!</p>
            <button>Click to dynamic content</button>
        </section>

        <section id="not_logged">

            <h1>User is not Logged In</h1>
        </section>

    </div>
</body>
</html>