<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .container{
                margin: auto;
                width: 50%;
                padding: 30px;
                background-color : #e2e2e2;
            }
        </style>

    </head>
    <body>
        <div class="container">
            <h1 >Name : <span data-th-text="${name}"></span></h1>

            <h2>GitHub Profile :<span data-th-text="${gitHub}"> </span></h2>
            <a data-th-href="${gitHub}"/> Click Here to open profile </a>

            <h1>Welcome to the Home Page</h1>
            <p> Yes, it is possible to have multiple versions of Java installed on a single system simultaneously. This is useful if you need to work on projects that require different versions of the Java Development Kit (JDK). Here’s how you can manage multiple Java versions on a single system:  </p>
       
        </div>
        
        
    </body>
</html>